<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat with Lina</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="main-container">
        

        
            <div id="image-urls" data-user="{{ url_for('static', filename='images/user_image.jpg') }}" data-bot="{{ url_for('static', filename='images/bot.jpg') }}"></div>
       
        <!-- <div id="image-urls" data-user="{{ url_for('static', filename='images/user_image.jpg') }}" data-bot="{{ url_for('static', filename='images/bot.jpg') }}" data-background="{{ url_for('static', filename='images/background-image.jpg') }}"></div>
        -->
            <div id="video-urls"></div>

        <div class="chat-container">
            <div id="chat-output" class="chat-output"></div>
            <form id="chat-form" class="chat-form">
                <input type="text" id="chat-input" class="chat-input" placeholder="Schreibe eine Nachricht">
                <button type="submit" class="chat-submit">send</button>
            </form>
        </div>
    
        <div class="suggested-phrases-container">
            <h3> Vorgeschlagene Sätze </h3>
            <div id="suggested-phrases" class="suggested-phrases"></div>
        </div>
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</body>
</html>
